<nav class="flex justify-center align-center space-x-4 bg-[#3778c2] text-white">
  <ul class="w-full flex flex-row justify-between p-5">
      <li>
      <h1 class="text-xl text-center uppercase">LogIn</h1>
    </li>
    <li>
      <i class="fa-solid fa-circle-dollar"></i>
    </li>
  </ul>
</nav>

<div class="min-h-screen flex justify-center items-center bg-white mt-5">
  <div class="p-10 border-[1px] -mt-10 border-slate-200 rounded-md flex flex-col items-center space-y-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <%- end -%>

      <div class="field py-3">
        <%= f.label :email, class: "text-gray-700" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "p-3 border-[1px] border-slate-500 rounded-sm w-80 focus:outline-none" %>
      </div>

      <div class="field py-3">
        <%= f.label :password, class: "text-gray-700" %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "p-3 border-[1px] border-slate-500 rounded-sm w-80 focus:outline-none" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "font-bold text-[#3671b9]"%>
        </div>
      <% end %>

      <div class="actions py-3">
        <%= f.submit "Log in", class: "w-full border-blue-900 hover:border-[#4cbb17] hover:border-[2px] border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold text-center focus:outline-none" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
